In [5]:
import pandas as pd
import numpy as np
pd.__version__

'2.3.3'

Series y DataFrames

In [6]:
s = pd.Series([10, 20, 30], index=['a','b','c'])

print(s.head(1))
print(s.tail(1))
print(s.shape)
print(s.index)
print(s.info)
print(s.describe())
print(s.dtypes)

a    10
dtype: int64
c    30
dtype: int64
(3,)
Index(['a', 'b', 'c'], dtype='object')
<bound method Series.info of a    10
b    20
c    30
dtype: int64>
count     3.0
mean     20.0
std      10.0
min      10.0
25%      15.0
50%      20.0
75%      25.0
max      30.0
dtype: float64
int64

In [10]:
url="https://github.com/Twoeme/Prueba2/raw/main/Pandas_Class/layoffs.csv"
df = pd.read_csv(url)#sep=";"
df.head()

,company,location,total_laid_off,date,percentage_laid_off,industry,source,stage,funds_raised,country,date_added
0,Sonder,SF Bay Area,NaN,11/10/2025,1.00,Travel,https://skift.com/2025/11/10/sonder-shuts-down...,Post-IPO,839.0,United States,11/10/2025
1,Axonius,New York City,100.0,11/6/2025,0.11,Security,https://www.calcalistech.com/ctechnews/article...,Series E,865.0,United States,11/7/2025
2,MyBambu,Memphis,141.0,11/5/2025,1.00,Finance,https://cbs12.com/news/local/new-west-palm-bea...,Unknown,15.0,United States,11/7/2025
3,Hewlett Packard Enterprise,SF Bay Area,52.0,11/5/2025,NaN,Hardware,https://www.sfchronicle.com/tech/article/layof...,Post-IPO,1400.0,United States,11/7/2025
4,Indeed,Austin,NaN,11/5/2025,NaN,HR,https://www.businessinsider.com/indeed-layoffs...,Acquired,5.0,United States,11/8/2025

In [11]:
df.isna().sum()

company                   0
location                  1
total_laid_off         1459
date                      0
percentage_laid_off    1543
industry                  2
source                    3
stage                     5
funds_raised            475
country                   2
date_added                0
dtype: int64

In [ ]:
#Sirve para eliminar archivos vacios
df.dropna(how="all")

In [12]:
#Sirve para reemplazar valores nuulos
df.fillna(0)
#Sirve para traer las posiciones unicas dentro de una columna
df['country'].unique()

array(['United States', 'India', 'Germany', 'Israel', 'Canada',
       'United Kingdom', 'Netherlands', 'Australia', 'Japan', 'Sweden',
       'Nigeria', 'Ireland', 'Switzerland', 'Portugal', 'France',
       'Singapore', 'Denmark', 'Norway', 'Malta', 'Indonesia', 'Cyprus',
       'UAE', 'Austria', 'China', 'Kenya', 'Pakistan', 'Uruguay', 'Spain',
       'Czech Republic', 'Belgium', 'Chile', 'Lithuania', 'Poland',
       'Finland', 'Cayman Islands', 'Estonia', 'Romania', 'Brazil', nan,
       'Ghana', 'Hong Kong', 'New Zealand', 'Luxembourg', 'Mexico',
       'South Korea', 'Saudi Arabia', 'Philippines', 'Ukraine', 'Italy',
       'Colombia', 'Argentina', 'Seychelles', 'Egypt', 'Greece',
       'Malaysia', 'Hungary', 'Vietnam', 'Thailand', 'Senegal',
       'United Arab Emirates', 'Peru', 'Bahrain', 'Turkey', 'Russia',
       'Bulgaria', 'South Africa', 'Myanmar'], dtype=object)