In [1]:
vendedores = ["Juan", "Ana", "Pedro", "Luisa"]
print(vendedores)

vendedores.append("Carlos")
print(vendedores)
type(vendedores)

vendedores[1]="Maria"
vendedores[2]*=5
vendedores[1]+=" Gomez"
print(vendedores)
print(vendedores[2])

numeros=[10,20,30,40,50]
numeros[2]*=5
print(numeros[2])

['Juan', 'Ana', 'Pedro', 'Luisa']
['Juan', 'Ana', 'Pedro', 'Luisa', 'Carlos']
['Juan', 'Maria Gomez', 'PedroPedroPedroPedroPedro', 'Luisa', 'Carlos']
PedroPedroPedroPedroPedro
150

In [2]:
4+9

13

In [3]:
print("Hello, world!")

Hello, world!

In [2]:
numero_motos1=20
numero_motos2=30
total_motos=numero_motos1+numero_motos2
print("El total de motos es:",total_motos)

El total de motos es: 50

### Variables en lista

In [1]:
##Lista en Pythonn:Estructura de datos mutable
vendedores = ["Juan", "Ana", "Pedro", "Luisa"]
print(vendedores)
print(type(vendedores))

##Modificar elemento de la lista
vendedores[1]="Sebastian"
vendedores[1]+=" Panda"
vendedores.append("Duber")
print(vendedores)

##Tupla en Python: Estrctura de datos inmutable
vendedores1 = ("Juan", "Ana", "Pedro", "Luisa")
print(vendedores1)
print(type(vendedores1))

##Listas vacias
meses= []
ventas=[]

cantidad_meses=int(input("Ingrese el numero de meses a registrar:"))

for i in range (cantidad_meses):

    mes=input("Ingrese el nombre del mes:")
    venta=float(input(f"Ingrese el total de ventas en {mes}: "))

    ## Guardar los datos
    meses.append(mes)
    ventas.append(venta)

n=len (meses)

print("\nRegistro de Ventas mensuales:")
for i in range (n):
    print(f"En el mes de {meses[i]} se registraron ventas por un total de: ${ventas[i]:.2f}")

['Juan', 'Ana', 'Pedro', 'Luisa']
<class 'list'>
['Juan', 'Sebastian Panda', 'Pedro', 'Luisa', 'Duber']
('Juan', 'Ana', 'Pedro', 'Luisa')
<class 'tuple'>

Registro de Ventas mensuales:
En el mes de Enero se registraron ventas por un total de: $70.00
En el mes de Septiembre se registraron ventas por un total de: $80.00

In [ ]:
##Uso de listas para almacenar nombres y ventas de vendedores
vendedores = ["Juan", "Ana", "Pedro", "Luisa"]
ventas = [1500.50, 2300.75, 1800.00, 2100.25]

for i in range(len(vendedores)):
    print(f"El vendedor {vendedores[i]} tuvo un total de ventas de: ${ventas[i]:.2f}")

El vendedor Juan tuvo un total de ventas de: $1500.50
El vendedor Ana tuvo un total de ventas de: $2300.75
El vendedor Pedro tuvo un total de ventas de: $1800.00
El vendedor Luisa tuvo un total de ventas de: $2100.25

In [ ]:
###Uso de pandas para manejo de datos
import pandas as pd
vendedores = ["Juan", "Ana", "Pedro", "Luisa"]
ventas = [1500.50, 2300.75, 1800.00, 2100.25]
df=pd.DataFrame({
    "Vendedor":vendedores,
    "Ventas":ventas
})
print(df)

  Vendedor   Ventas
0     Juan  1500.50
1      Ana  2300.75
2    Pedro  1800.00
3    Luisa  2100.25